<%= form_for @post, :html => {:multipart => true} do |f| %>
  <% if @post.errors.any? %>
    <div class="alert alert-error">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br/>

  <div class="form-group">
    <%= f.text_field :title, :class => "form-control", :autofocus => "true", :placeholder => "Title (optional)" %>
  </div>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control", placeholder: "Body (optional)", rows: "5" %>
  </div>
  <div class="form-group">
    <%= f.file_field :image, :class => "btn btn-default btn-lg" %>
  </div>
  <div class="actions">
      <%= f.submit "Post", :class => "btn btn-info btn-lg" %>
      <%= link_to 'Back', posts_path, :class => "btn btn-default btn-lg" %>
  </div>
<% end %>